@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url(/font/Montserrat/Montserrat-Regular.woff2) format("woff2"),
    url(/font/Montserrat/Montserrat-Regular.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url(/font/Montserrat/Montserrat-SemiBold.woff2) format("woff2"),
    url(/font/Montserrat/Montserrat-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  src: url(/font/Montserrat/Montserrat-ExtraBold.woff2) format("woff2"),
    url(/font/Montserrat/Montserrat-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url(/font/Montserrat/Montserrat-Medium.woff2) format("woff2"),
    url(/font/Montserrat/Montserrat-Medium.woff) format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url(/font/Montserrat/Montserrat-Bold.woff2) format("woff2"),
    url(/font/Montserrat/Montserrat-Bold.woff) format("woff");
}

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  max-width: 1440px;
  font-family: "Montserrat", "Arial", sans-serif;
  background-color: #ffffff;
  color:black;
  margin: 0 auto;
  padding: 0;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url("./images/cover.png");
  background-size: cover;
  width: 100%;
  max-width: 1440px;
  min-height: 793px;
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
}

.header__logo {
  margin: 0;
  padding: 0 132px 0 136px;
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(32 / 24 * 100%);
}

.menu-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header__menu-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 21px;
  flex-wrap: wrap;
}

.header__menu {
  display: flex;
  width: calc(100% - 2 * 59px);
  margin: 0 auto;
  height: 104px;
  align-items: center;
}

.header__container-info {
  margin: 0 auto;
  padding-top: 80px;
  max-width: 1045px;
  width: calc(100% - 2 * 197px);
}

.header__title {
  margin: 0 0 35px 0;
  padding: 0;
  max-width: 509px;
  font-weight: 800;
  font-size: 58px;
  line-height: calc(80 / 58 * 100%);
}

.header__subtitle {
  color: #737373;
  margin: 0 0 35px 0;
  padding: 0;
  max-width: 376px;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(30 / 20 * 100%);
  letter-spacing: 0.2px;
}

.header__menu-buttons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 10px;
}

.header__menu-button {
  max-width: 185px;
  height: 48px;
  border-radius: 35px;
  color: #0D5C63;
  border: 1px solid #0D5C63;
  background-color: transparent;
  transition: 0.3s ease-in;
  padding: 10px 34px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(28 / 14 * 100%);
}

.header__menu-button:hover {
  background-color: #FF7B47;
  color: #ffffff;
  border: 1px solid #FF7B47;
  cursor: pointer;
}